<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
        <%= link_to 'Have an account?' , new_user_session_path %>
        </p>
        <% if @user.errors.any? %>
          <ul class="error-messages">
            <% @user.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
        <% end %>
        </ul>
      <% end %>
        <%= form_with scope: :user, url: user_registration_path, local: true do |form| %>
          <fieldset class="form-group">
            <%= form.text_field :username, class: 'form-control form-control-lg' , placeholder: 'Username' %>
          </fieldset>
          <fieldset class="form-group">
            <%= form.email_field :email, class: 'form-control form-control-lg' , placeholder: 'Email' %>
          </fieldset>
          <fieldset class="form-group">
            <%= form.password_field :password, class: 'form-control form-control-lg' , placeholder: 'Password' %>
          </fieldset>
          <%= form.submit 'Sign up' , class: 'btn btn-lg btn-primary pull-xs-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
