<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages">
          <li>That title is required</li>
        </ul>

        <%= form_with model: @article, local: true do |form| %>
          <fieldset>
            <div class="form-group">
              <%= form.text_field :title, class: "form-control form-control-lg" , placeholder: "Article Title" %>
            </div>

            <div class="form-group">
              <%= form.text_field :description, class: "form-control" , placeholder: "What's this article about?" %>
            </div>

            <div class="form-group">
              <%= form.text_area :body, rows: 8, class: "form-control" , placeholder: "Write your article (in markdown)"
                %>
            </div>

            <div class="form-group">
              <%= form.text_field :tags, class: "form-control" , placeholder: "Enter tags" %>
            </div>

            <%= form.submit "Publish Article" , class: "btn btn-lg pull-xs-right btn-primary" %>
          </fieldset>
          <% end %>

      </div>
    </div>
  </div>
</div>
