<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <%= link_to 'Need an account?', new_user_registration_path %>
        </p>

        <% if flash[:alert] %>
          <ul class="error-messages">
            <li><%= flash[:alert] %></li>
          </ul>
        <% end %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <fieldset class="form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control form-control-lg', placeholder: 'Email' %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control form-control-lg', placeholder: 'Password' %>
          </fieldset>
          <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary pull-xs-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
