<% if user_signed_in? %>
  <!-- ログインしている場合 -->
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to new_article_path, class: 'nav-link' do %>
            <i class="ion-compose"></i> New Article
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to settings_path, class: 'nav-link' do %>
            <i class="ion-gear-a"></i> Settings
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to current_user.username, user_path(current_user.username), class: 'nav-link' %>
        </li>
        
        <!-- ログアウトボタンを追加 -->
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-link nav-link', form_class: 'form-inline' do %>
          Logout
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
<nav class="navbar navbar-light">
  <div class="container">
    
    <a class="navbar-brand" href="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<% end %>
